.env
/www/Week3/more/vendor
/www/Week3/more2/vendor
nodejs/node_modules/
nodejs/backend/node_modules/
nodejs/ejs/demo1/node_modules/
nodejs/ejs/demo2/node_modules/
nodejs/ejs/site_example/node_modules/

